<h2>Login Page</h2>
<form method="post" class="form-horizontal">
    <% if (model.failure) { %>
        <div class="alert alert-error">
            <p>Authentication failed: ${model.failure}</p>
        </div>
    <% } %>

    <div class="control-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="user"/>
    </div>
    <div class="control-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password"/>
    </div>
    <div class="control-group">
        <button class="btn btn-primary" type="submit">Sign in</button>
        <button class="btn btn-info" type="submit">Ajax Sign in</button>
    </div>
</form>

<script src="/static/js/login.js"></script>
