<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">{{projectName}}</a>

            <div class="nav-collapse collapse">
                <div class="pull-right">
                    <div ng-show="user.loading">

                    </div>
                    <div ng-hide="user.loading">
                        <button class="btn login" ng-show="user.username == null" ng-click="doLogin()">Login</button>
                        <p class="navbar-text" ng-hide="user.username == null">
                            <span id="logged-in-username">{{user.username}}</span>
                            <small>(<button class="btn-link btn-small logout" ng-click="logout()">logout</button></a>)</small>
                        </p>
                    </div>
                </div>
                <ul class="nav">
                    <li ng-repeat="n in nav" class="{{n.class}}"><a href="{{n.link}}">{{n.name}}</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>